<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Mailing HTML</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="http://$(server_name2)/templates/styles.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#f0f0f0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="center">
  <table width="601" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="1" height="631" bgcolor="#333366"><img src="http://$(server_name2)/images/spacer.gif" width="1" height="1"></td>
      <td width="599" valign="top"><table width="599" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td> <div align="center"><font size="3" face="Arial, Helvetica, sans-serif"><br>
                YOUR SLOGAN HERE<br>
                <br>
                <br>
                </font></div></td>
          </tr>
        </table>
        <table width="599" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td background="http://$(server_name2)/images/divider_line_top.gif"><img src="http://$(server_name2)/images/divider_line_top.gif" width="41" height="1"></td>
          </tr>
          <tr>
            <td height="24"><table width="599" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td width="145" height="24" bgcolor="#FFFFFF"><div align="center"><span class="time"> 
                      <!-- #BeginDate format:Am1 -->July 8, 2004<!-- #EndDate -->
                      </span></div></td>
                  <td width="7" height="24"><img src="http://$(server_name2)/images/title_left.jpg" width="7" height="24"></td>
                  <td bgcolor="#333366" class="maintitle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="5">&nbsp;</td>
                        <td class="maintitle"><font color="#FFFFFF"><strong>NEWSLETTER 
                          TEMPLATE 2</strong></font></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td height="1" background="http://$(server_name2)/images/divider_line_top.gif"><img src="http://$(server_name2)/images/divider_line_top.gif" width="41" height="1"></td>
          </tr>
        </table>
        <table width="599" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td height="468" valign="top" bgcolor="#FBFBFB"><br>
              <table width="577" border="0" align="center" cellpadding="0" cellspacing="0" class="border">
                <tr> 
                  <td width="575" height="399" valign="top"> 
                    <table width="100%" border="0" align="left" cellpadding="0" cellspacing="5">
                      <tr> 
                        <td bgcolor="#f0f0f0" class="bodytextCopy">Newsletter 
                          Sub-title</td>
                      </tr>
                      <tr> 
                        <td height="361" valign="top" class="bodytext"> <table width="99%" border="0">
                            <tr> 
                              <td width="71%" height="280" valign="top"> <div align="left"> 
                                  <p><font size="2" face="Verdana, Arial, Helvetica, sans-serif">It 
                                    is currently easier than ever to sell products 
                                    online. Through the use of</font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">integrated 
                                    solutions that provide the traditional shopping 
                                    cart functionality and a seamless integration 
                                    into a payment gateway <br>
                                    It is currently easier than ever to sell products 
                                    online. Through the use of integrated solutions 
                                    that provide the traditional shopping cart 
                                    functionality and a seamless integration into 
                                    a payment gateway<br>
                                    It is currently easier than ever to sell products 
                                    online. Through the use of integrated solutions 
                                    that provide the traditional shopping cart 
                                    functionality and a seamless integration into 
                                    a payment gateway <br>
                                    It is currently easier than ever to sell products 
                                    online. Through the use of integrated solutions 
                                    that provide the traditional shopping cart 
                                    functionality and a seamless integration into 
                                    a payment gateway <br>
                                    It is currently easier than ever to sell products 
                                    online. Through the use of integrated solutions 
                                    that provide the traditional shopping cart 
                                    functionality and a seamless integration into 
                                    a payment gateway <br>
                                    </font></p>
                                </div>
                                <div align="center"> 
                                  <center>
                                  </center>
                                </div></td>
                              <td width="29%" valign="top"><img src="http://$(server_name2)/images/image2.jpg" width="150" height="150"></td>
                            </tr>
                          </table>
                          <p><br>
                          </p>
                          </td>
                      </tr>
                    </table></td>
                </tr>
                <tr> 
                  <td height="19" bgcolor="#CCCCCC">
<div align="right"></div></td>
                </tr>
              </table>
              
            </td>
          </tr>
        </table>
        <table width="599" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td background="http://$(server_name2)/images/divider_line_purple.gif"><img src="http://$(server_name2)/images/divider_line_purple.gif" width="30" height="1"></td>
          </tr>
          <tr>
            <td bgcolor="#f0f0f0"><div align="right">
                <table width="599" border="0" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td width="343" height="19">&nbsp;</td>
                    <td width="89"><div align="center" class="bottomlinks"></div></td>
                    <td width="87"><div align="center" class="bottomlinks"></div></td>
                    <td width="80"><div align="center" class="bottomlinks"></div></td>
                  </tr>
                </table>
              </div></td>
          </tr>
          <tr>
            <td background="http://$(server_name2)/images/divider_line_purple.gif"><img src="http://$(server_name2)/images/divider_line_purple.gif" width="30" height="1"></td>
          </tr>
        </table>
        
        <table width="599" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="42" valign="top" bgcolor="#FFFFFF"> 
              <div align="right" class="copyright"></div></td>
          </tr>
          <tr>
            <td height="2" background="http://$(server_name2)/images/divider_line_purple.gif"><img src="http://$(server_name2)/images/divider_line_purple.gif" width="30" height="1"></td>
          </tr>
        </table>
        
    
      </td>
      <td width="10" bgcolor="#333366"><img src="http://$(server_name2)/images/spacer.gif" width="1" height="1"></td>
    </tr>
  </table>
  

  
</div>
</body>
</html>
