<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Mailing HTML</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="http://$(server_name2)/templates/style.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#f0f0f0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<DIV align=center>
<TABLE cellSpacing=0 cellPadding=0 width=601 border=0>
<TBODY>
<TR>
        <TD width=1 bgColor=#333366 height=1266><IMG height=1 src="http://$(server_name2)/images/spacer.gif" width=1></TD>
<TD vAlign=top width=599>
<TABLE cellSpacing=0 cellPadding=0 width=599 border=0>
<TBODY>
<TR>
<TD width=256>
<DIV align=center><FONT face="Arial, Helvetica, sans-serif" size=3><STRONG>YOUR LOGO HERE</STRONG></FONT></DIV></TD>
<TD><IMG height=86 src="http://$(server_name2)/images/banner_top_r1_c8.jpg" width=343></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=599 border=0>
<TBODY>
<TR>
<TD background=http://$(server_name2)/images/divider_line_top.gif><IMG height=1 src="http://$(server_name2)/images/divider_line_top.gif" width=41></TD></TR>
<TR>
<TD height=24>
<TABLE cellSpacing=0 cellPadding=0 width=599 border=0>
<TBODY>
<TR>
<TD width=145 bgColor=#ffffff height=24>
<DIV align=center><SPAN class=time><!-- #BeginDate format:Am1 -->September 22, 2004<!-- #EndDate --> </SPAN></DIV></TD>
<TD width=7 height=24><IMG height=24 src="http://$(server_name2)/images/title_left.jpg" width=7></TD>
<TD class=maintitle bgColor=#333366>
<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
<TBODY>
<TR>
<TD width=5>&nbsp;</TD>
<TD class=maintitle><FONT color=#ffffff><STRONG>NEWSLETTER TEMPLATE 1</STRONG></FONT></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD background=http://$(server_name2)/images/divider_line_top.gif height=1><IMG height=1 src="http://$(server_name2)/images/divider_line_top.gif" width=41></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=599 border=0>
<TBODY>
<TR>
<TD vAlign=top bgColor=#fbfbfb height=425><BR>
<TABLE class=border cellSpacing=0 cellPadding=0 width=577 align=center border=0>
<TBODY>
<TR>
<TD vAlign=top width=575 height=382>
<TABLE cellSpacing=5 cellPadding=0 width="100%" align=left border=0>
<TBODY>
<TR>
<TD class=bodytextCopy bgColor=#f0f0f0>Newsletter Sub-title</TD></TR>
<TR>
                                <TD class=bodytext vAlign=top height=1040> 
                                  <TABLE width="100%" border=0>
<TBODY>
<TR>
                                        <TD vAlign=top width="33%" height=998> 
                                          <DIV align=center>
<CENTER>
<TABLE id=AutoNumber8 style="BORDER-COLLAPSE: collapse" borderColor=#000000 height=1 cellSpacing=0 cellPadding=0 width="89%" bgColor=#ffffff border=1>
<TBODY>
<TR>
<TD style="BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000" borderColor=#000000 align=middle width="100%" bgColor=#0066ff height=1><B><FONT face=Arial color=#ffffff size=2>Main Menu</FONT></B></TD></TR>
<TR>
<TD style="BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: medium none" borderColor=#000000 width="100%" bgColor=#ffffff height=1>
<UL>
<LI><FONT face=Arial size=2><A href="http://$(server_name2)/templates/subpage.php?op=id1&id=$(id)">Main Article </A></FONT></LI>
<LI><FONT face=Arial size=2><A href="http://$(server_name2)/templates/subpage.php?op=id2&id=$(id)">Second Story</A></FONT></LI>
<LI><FONT face=Arial size=2><A href="http://$(server_name2)/templates/subpage.php?op=id3&id=$(id)">Third Story</A></FONT></LI>
<LI><A href="http://$(server_name2)/templates/subpage.php?op=id4&id=$(id)"><FONT face=Arial size=2>Fourth Story</FONT></A><FONT face=Arial size=2> </FONT></LI></UL></TD></TR></TBODY></TABLE></CENTER></DIV>
<P style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px" align=center> 
<DIV align=center>
<CENTER>
<TABLE id=AutoNumber12 style="BORDER-COLLAPSE: collapse" borderColor=#111111 height=1 cellSpacing=0 cellPadding=0 width="90%" border=1>
<TBODY>
<TR>
<TD style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none" width="100%" bgColor=#0066ff height=1>
<P align=center><B><FONT face=Arial color=#ffffff size=2>Spotlight Article </FONT></B></P></TD></TR>
<TR>
<TD style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none" vAlign=top width="100%" bgColor=#ffffff height=18>
<P style="MARGIN-TOP: 9px; MARGIN-BOTTOM: 9px; MARGIN-LEFT: 5px"><IMG height=150 src="http://$(server_name2)/images/image2.jpg" width=150> 
<P style="MARGIN-TOP: 9px; MARGIN-BOTTOM: 9px; MARGIN-LEFT: 5px"> 
<P style="MARGIN-TOP: 9px; MARGIN-BOTTOM: 9px; MARGIN-LEFT: 5px"><FONT face="Arial, Helvetica, sans-serif" size=2>This is the intro text for this article. This is the intro text for this article.This is the intro text for this article.This is the intro text for this article.</FONT><BR><A href="http://$(server_name2)/templates/subpage.php?op=id1&id=$(id)"><FONT face="Arial, Helvetica, sans-serif" size=2>Find out more.... </FONT></A>
<P style="MARGIN-TOP: 9px; MARGIN-BOTTOM: 9px; MARGIN-LEFT: 5px"><FONT face="Arial, Helvetica, sans-serif"><STRONG>More Information...</STRONG></FONT> 
<UL>
<LI>yourlink.com</LI>
<LI>yourlink.com</LI></UL></TD></TR></TBODY></TABLE></CENTER></DIV></TD>
                                        <TD vAlign=top width="67%"> <table width="100%" border="0">
                                            <tr>
                                              <td height="271"> 
                                                <TABLE class=border cellSpacing=0 cellPadding=0 width=393 align=left border=0>
                                                  <TBODY>
                                                    <TR> 
                                                      <TD vAlign=top width=393 height=207> 
                                                        <TABLE cellSpacing=5 cellPadding=0 width=392 align=left border=0>
                                                          <TBODY>
                                                            <TR> 
                                                              <TD class=bodytextCopy width=382 bgColor=#f0f0f0><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2><STRONG>Main 
                                                                Article</STRONG></FONT></TD>
                                                            </TR>
                                                            <TR> 
                                                              <TD class=bodytext vAlign=top height=174> 
                                                                <P><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2>This 
                                                                  is the text 
                                                                  for main article. 
                                                                  This is the 
                                                                  text for main 
                                                                  article. This 
                                                                  is the text 
                                                                  for main article. 
                                                                  This is the 
                                                                  text for main 
                                                                  article. This 
                                                                  is the text 
                                                                  for main article. 
                                                                  This is the 
                                                                  text for main 
                                                                  article. This 
                                                                  is the text 
                                                                  for main article. 
                                                                  This is the 
                                                                  text for main 
                                                                  article. This 
                                                                  is the text 
                                                                  for main article. 
                                                                  This is the 
                                                                  text for main 
                                                                  article. This 
                                                                  is the text 
                                                                  for main article. 
                                                                  This is the 
                                                                  text for main 
                                                                  article. This 
                                                                  is the text 
                                                                  for main article. 
                                                                  This is the 
                                                                  text for main 
                                                                  article. This 
                                                                  is the text 
                                                                  for main article. 
                                                                  This is the 
                                                                  text for main 
                                                                  article. </FONT></P></TD>
                                                            </TR>
                                                          </TBODY>
                                                        </TABLE>
                                                        <BR> <BR> <BR> <BR> <BR></TD>
                                                    </TR>
                                                    <TR> 
                                                      <TD bgColor=#cccccc height=15> 
                                                        <DIV align=right><A href="http://$(server_name2)/templates/subpage.php?op=id1&id=$(id)"><IMG id=Image121 height=15 alt="Read More" src="http://$(server_name2)/images/tab_readmore.gif" width=95 border=0 name=Image121111></A></DIV></TD>
                                                    </TR>
                                                  </TBODY>
                                                </TABLE>
                                                <P><BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                </P>
</td>
                                            </tr>
                                            <tr>
                                              <td><TABLE class=border cellSpacing=0 cellPadding=0 width=393 align=left border=0>
                                                  <TBODY>
                                                    <TR> 
                                                      <TD vAlign=top width=393 height=207> 
                                                        <TABLE cellSpacing=5 cellPadding=0 width=392 align=left border=0>
                                                          <TBODY>
                                                            <TR> 
                                                              <TD class=bodytextCopy width=382 bgColor=#f0f0f0><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2><STRONG>Second 
                                                                Newsletter Story</STRONG></FONT></TD>
                                                            </TR>
                                                            <TR> 
                                                              <TD class=bodytext vAlign=top height=174> 
                                                                <P><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2>It 
                                                                  is currently 
                                                                  easier than 
                                                                  ever to sell 
                                                                  products online. 
                                                                  Through the 
                                                                  use of integrated 
                                                                  solutions that 
                                                                  provide the 
                                                                  traditional 
                                                                  shopping cart 
                                                                  functionality 
                                                                  and a seamless 
                                                                  integration 
                                                                  into a payment 
                                                                  gateway <BR>
                                                                  It is currently 
                                                                  easier than 
                                                                  ever to sell 
                                                                  products online. 
                                                                  Through the 
                                                                  use of integrated 
                                                                  solutions that 
                                                                  provide the 
                                                                  traditional 
                                                                  shopping cart 
                                                                  functionality 
                                                                  and a seamless 
                                                                  integration 
                                                                  into a payment 
                                                                  gateway </FONT></P></TD>
                                                            </TR>
                                                          </TBODY>
                                                        </TABLE>
                                                        <BR> <BR> <BR> <BR> <BR></TD>
                                                    </TR>
                                                    <TR> 
                                                      <TD bgColor=#cccccc height=15> 
                                                        <DIV align=right><A href="http://$(server_name2)/templates/subpage.php?op=id2&id=$(id)"><IMG id=Image121 height=15 alt="Read More" src="http://$(server_name2)/images/tab_readmore.gif" width=95 border=0 name=Image12111></A></DIV></TD>
                                                    </TR>
                                                  </TBODY>
                                                </TABLE>
                                                <P><BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                </P>
</td>
                                            </tr>
                                            <tr>
                                              <td height="267"> 
                                                <TABLE class=border cellSpacing=0 cellPadding=0 width=393 align=left border=0>
                                                  <TBODY>
                                                    <TR> 
                                                      <TD vAlign=top width=393 height=207> 
                                                        <TABLE cellSpacing=5 cellPadding=0 width=392 align=left border=0>
                                                          <TBODY>
                                                            <TR> 
                                                              <TD class=bodytextCopy width=382 bgColor=#f0f0f0><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2><STRONG>Third 
                                                                Newsletter Story</STRONG></FONT></TD>
                                                            </TR>
                                                            <TR> 
                                                              <TD class=bodytext vAlign=top height=174> 
                                                                <P><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2>It 
                                                                  is currently 
                                                                  easier than 
                                                                  ever to sell 
                                                                  products online. 
                                                                  Through the 
                                                                  use of integrated 
                                                                  solutions that 
                                                                  provide the 
                                                                  traditional 
                                                                  shopping cart 
                                                                  functionality 
                                                                  and a seamless 
                                                                  integration 
                                                                  into a payment 
                                                                  gateway <BR>
                                                                  It is currently 
                                                                  easier than 
                                                                  ever to sell 
                                                                  products online. 
                                                                  Through the 
                                                                  use of integrated 
                                                                  solutions that 
                                                                  provide the 
                                                                  traditional 
                                                                  shopping cart 
                                                                  functionality 
                                                                  and a seamless 
                                                                  integration 
                                                                  into a payment 
                                                                  gateway </FONT></P></TD>
                                                            </TR>
                                                          </TBODY>
                                                        </TABLE>
                                                        <BR> <BR> <BR> <BR> <BR></TD>
                                                    </TR>
                                                    <TR> 
                                                      <TD bgColor=#cccccc height=15> 
                                                        <DIV align=right><A href="http://$(server_name2)/templates/subpage.php?op=id3&id=$(id)"><IMG id=Image121 height=15 alt="Read More" src="http://$(server_name2)/images/tab_readmore.gif" width=95 border=0 name=Image121111></A></DIV></TD>
                                                    </TR>
                                                  </TBODY>
                                                </TABLE>
                                                <P><BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                </P>
</td>
                                            </tr>
                                            <tr>
                                              <td height="44"><TABLE class=border cellSpacing=0 cellPadding=0 width=393 align=left border=0>
                                                  <TBODY>
                                                    <TR> 
                                                      <TD vAlign=top width=393 height=207> 
                                                        <TABLE cellSpacing=5 cellPadding=0 width=392 align=left border=0>
                                                          <TBODY>
                                                            <TR> 
                                                              <TD class=bodytextCopy width=382 bgColor=#f0f0f0><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2><STRONG>Fourth 
                                                                Newsletter Story</STRONG></FONT></TD>
                                                            </TR>
                                                            <TR> 
                                                              <TD class=bodytext vAlign=top height=174> 
                                                                <P><FONT face="Verdana, Arial, Helvetica, sans-serif" size=2>It 
                                                                  is currently 
                                                                  easier than 
                                                                  ever to sell 
                                                                  products online. 
                                                                  Through the 
                                                                  use of integrated 
                                                                  solutions that 
                                                                  provide the 
                                                                  traditional 
                                                                  shopping cart 
                                                                  functionality 
                                                                  and a seamless 
                                                                  integration 
                                                                  into a payment 
                                                                  gateway <BR>
                                                                  It is currently 
                                                                  easier than 
                                                                  ever to sell 
                                                                  products online. 
                                                                  Through the 
                                                                  use of integrated 
                                                                  solutions that 
                                                                  provide the 
                                                                  traditional 
                                                                  shopping cart 
                                                                  functionality 
                                                                  and a seamless 
                                                                  integration 
                                                                  into a payment 
                                                                  gateway </FONT></P></TD>
                                                            </TR>
                                                          </TBODY>
                                                        </TABLE>
                                                        <BR> <BR> <BR> <BR> <BR></TD>
                                                    </TR>
                                                    <TR> 
                                                      <TD bgColor=#cccccc height=15> 
                                                        <DIV align=right><A href="http://$(server_name2)/templates/subpage.php?op=id4&id=$(id)"><IMG id=Image121 height=15 alt="Read More" src="http://$(server_name2)/images/tab_readmore.gif" width=95 border=0 name=Image1211111></A></DIV></TD>
                                                    </TR>
                                                  </TBODY>
                                                </TABLE>
                                                <P><BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                  <BR>
                                                </P>
</td>
                                            </tr>
                                          </table>
                                          
                                        </TD>
                                      </TR></TBODY></TABLE>
                                </TD>
                              </TR></TBODY></TABLE></TD></TR>
<TR>
<TD bgColor=#cccccc height=19>
<DIV align=right></DIV></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=599 border=0>
<TBODY>
<TR>
<TD background=http://$(server_name2)/images/divider_line_purple.gif><IMG height=1 src="http://$(server_name2)/images/divider_line_purple.gif" width=30></TD></TR>
<TR>
<TD bgColor=#f0f0f0>
<DIV align=right>
<TABLE cellSpacing=0 cellPadding=0 width=599 border=0>
<TBODY>
<TR>
<TD width=343 height=19>&nbsp;</TD>
<TD width=89>
<DIV class=bottomlinks align=center></DIV></TD>
<TD width=87>
<DIV class=bottomlinks align=center></DIV></TD>
<TD width=80>
<DIV class=bottomlinks align=center></DIV></TD></TR></TBODY></TABLE></DIV></TD></TR>
<TR>
<TD background=http://$(server_name2)/images/divider_line_purple.gif><IMG height=1 src="http://$(server_name2)/images/divider_line_purple.gif" width=30></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=599 border=0>
<TBODY>
<TR>
                <TD vAlign=top bgColor=#ffffff height=19> 
                  <DIV class=copyright align=right></DIV></TD></TR>
<TR>
<TD background=http://$(server_name2)/images/divider_line_purple.gif height=2><IMG height=1 src="http://$(server_name2)/images/divider_line_purple.gif" width=30></TD></TR></TBODY></TABLE></TD>
<TD width=10 bgColor=#333366><IMG height=1 src="http://$(server_name2)/images/spacer.gif" width=1></TD></TR></TBODY></TABLE>
</DIV>
